<!DOCTYPE html>
<html lang="{{ app()->getLocale() }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token() }}" />
  <title>{{ env('APP_NAME') }}</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <% if(data) { %>
  <script>
      window.data = <%- JSON.stringify(data) %>
  </script>
  <% } %>
  <style>
  .content {
    width: 630px;
    margin: 0 auto;
    height: auto;
    box-shadow: 1px 1px 7px 1px #ccc;
    background: url(https://i557com-1251420446.picgz.myqcloud.com/wp-content/uploads/2018/07/1532643810.jpg?imageMogr2/interlace/1/crop/1920x1080) center 60%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .cover {
    width: inherit;
    height: 1000px;
    z-index:1;
    position: absolute;
    background-color:rgba(28, 0, 46, 0.6);
  }

  .left {
    background: #FFF;
    width: 65%;
    height: 100%;
    z-index: 2;
    padding: 5% 5% 10px;
    position: relative;
    box-sizing: border-box;
  }

  .title {
    text-align: left;
    height: 100px;
  }

  .title i {
    background: #944bd3;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    transform: rotate(45deg);
  }
  
  .title h1,.title h3{
    padding:0;
    margin:0;
  }

  .title h1 {
    font-size: 28px;
  }

  .title h3 {
    font-size: 13px;
    color:#8e8e8e;
  }

  .introduction {
    font-size: 14px;
    color: #787878;
    font-weight: 100;
    padding: 0 8%;
  }

  .form{
    background: #FFF;
    padding: 5px 8%;
  }

  .form .el-button {
    background-color: #FFF;
    border-color: #a040da;
    color: #a040da;
    width: 48%;
  }

  .form .el-button:first-child{
    background-color: #ccc;
    border-color: #ccc;
    color: #FFF;
  }

  .form .el-button:hover {
    background-color: #a040da;
    border-color: #a040da;
    color: #FFF;
  }

  .form .el-button+.el-button {
    margin-left: 2%;
  }

  .form .el-form-item:last-child {
    margin-bottom:5px;
  }

   .form .registerBtn {
    text-align: center;
    width:100%;
   }

  .form .registerBtn a {
    font-size: 13px;
    color: #afafaf;
    margin-bottom:20px;
  }

  footer {
    color: #b3b3b3;
    font-size: 13px;
    text-align: center;
    width: 100%;
    font-weight: 100;
  }

  #root {
    display: none;
  }

  </style>
</head>

<body>
  <div id="root">
    <div class="content">
      <div class="cover"></div>
      <div class="left">
        <div class="title">
          <el-row :gutter="10">
            <el-col :span="4">
              <i class="el-icon-sort"></i>
            </el-col>
            <el-col :span="20">
              <h1>
                  {{systemInfo.name}}
              </h1>
              <h3>
                {{systemInfo.subtitle}}
              </h3>
            </el-col>
          </el-row>
        </div>
        <div>
        <div v-if="isLogin">
            <div class="introduction">
              <p>
                您正在使用 <strong>{{systemInfo.name}}</strong> 提供之登录授权系统。
              </p>
              <span>系统请求访问以下权限</span>
            </div>
          </div>
          <div class="introduction">
            <p>
              <%- __('LoginReminder') %>
            </p>
          </div>
          <div class="form">
            <el-form :model="loginForm" action="/member/login" method="post" status-icon :rules="rules" ref="loginForm" label-width="0" class="demo-ruleForm">
              <input type="hidden" name="redirect_url" :value="redirect_url" />
              <el-form-item prop="username">
                <el-input name="username" v-model="loginForm.username" placeholder="用户名"></el-input>
              </el-form-item>
              <el-form-item prop="password">
                <el-input name="password" type="password" v-model="loginForm.password" placeholder="密码" autocomplete="off"></el-input>
              </el-form-item>
                <el-form-item>
                  <el-button size="small" @click="resetForm('loginForm')"><%- __('Reset') %></el-button>
                  <el-button size="small" type="primary" @click="submitForm('loginForm')"><%- __('Login') %></el-button>
                </el-form-item>
              </el-form>
              <div class="registerBtn">
                  <a size="small" @click="resetForm('loginForm')"><%- __('RegisterReminder') %></a>
              </div>
          </div>
        </div>
        <footer>
          {{systemInfo.copyright}}
        </footer>
      </div>
    </div>
  </div>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  window.onload = () => {
    var app = new Vue({
      el: '#root',
      data() {
        return {
          systemInfo: window.data.system_info,
          isLogin: window.data.isLogin,
          err: window.data.err,
          redirect_url: window.data.redirect_url,
          loginForm: {
            username: '',
            password: ''
          },
          rules: {
            username: [
              { required: true, message: '请输入用户名', trigger: 'blur' },
            ],
            password: [
              { required: true, message: '请输入密码', trigger: 'blur' },
            ]
          }
        }
      },
      mounted (){
        document.getElementById('root').style = "display:block"
        var url = new URL(window.location.href);
        var err = this.err;
        if (err && err.length > 0){
          this.$message.error(err)
        }
      },
      methods: {
        submitForm(formName) {
          const form = this.$refs[formName].$el.submit()
          this.$refs[formName].validate((valid) => {
            if (!valid) {
              return false
            }
            form.submit()
          });
        },
        resetForm(formName) {
          this.$refs[formName].resetFields()
        }
      }
    })
  }
</script>
</body>

</html>